$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$min-height-row: 24px;
$dash-board-header-height: 64px;
$selected-color: #3c74ff;
$cell-width: 120px;
$border-color: #c0c0c0;